/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}

body {
  height: auto;
}

.nav-menu-mobile a,
span {
  text-decoration: none;
  color: #262626;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin: 1px;
}

.nav-menu-mobile .fa-chevron-down,
.fa-chevron-up {
  font-size: 12px;
}

.nav-menu-mobile {
  display: flex;
  flex-direction: column;
}

.nav-menu-mobile > div {
  padding: 16px 13px;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;
}

.nav-menu-mobile > div:last-child {
  border-bottom: 1px solid #000;
}

.nav-menu-mobile > div > a:last-child {
  text-transform: capitalize;
}

.nav-menu-mobile .dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-menu-mobile .dropdown-content-default-hidden,
.dropdown-content {
  display: none;
}

.nav-menu-mobile .dropdown-content-default-hidden {
  padding: 0 !important;
}

.nav-menu-mobile .dropdown-content-flex {
  display: flex;
  flex-direction: column;
}

.nav-menu-mobile .dropdown-content-flex > a {
  margin-left: 30px;
  padding: 16px 13px;
  border-bottom: 1px solid #e6e6e6;
}

.nav-menu-mobile .dropdown-content-flex > a:last-child {
  margin-left: 30px;
  padding: 16px 13px;
  border-bottom: none;
}
