/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
li {
  list-style-type: none;
}

i {
  color: #000 !important;
}

/* CSS Variables */
:root {
  --primary: #000;
  --secondary: #0067ce;
  --footer-primary: #777761;
  --footer-secondary: #616161;
}

.show {
  display: block;
}

.container {
  width: 100%;
  min-width: 330px;
  padding: 10px 0 0;
}

/* Nav-menu */
.nav-flex {
  position: relative;
}

.nav-flex,
.nav-flex-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}

.nav-flex > div {
  display: block;
  cursor: pointer;
}

.nav-flex > div > i {
  margin-top: 0;
}

.nav-flex .burger-menu > div {
  width: 25px;
  height: 1px;
  background-color: black;
  margin: 6px 0;
}

.nav-flex .search-btn .fa-search,
.nav-flex-2 .search-btn .fa-search {
  transform: scaleX(-1);
}

.nav-flex .logo {
  width: 20%;
  flex-grow: 2;
  cursor: pointer;
}

.nav-flex .burger-menu,
.nav-flex .cart-btn {
  margin-right: 20px;
}

.nav-flex .burger-menu {
  margin-left: 10px;
}

.nav-flex .user-btn {
  margin-right: 10px;
}

.nav-flex .logo,
.nav-flex-2 .logo {
  background: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31")
    no-repeat center center/contain;
  width: 40%;
  height: 25px;
}

/* Nav-menu 2, drop down hidden by default */
.nav-flex-2 {
  display: none;
  cursor: pointer;
}

.nav-flex-2 .nav-menu-list a {
  float: left;
  display: block;
  text-align: center;
  font-size: 13px;
}

.nav-flex-2 .dropdown-content {
  display: none;
}

/* Nav-menu mobile content (Hamburger button)*/
.nav-menu-mobile-hidden {
  display: none;
}

.nav-menu-mobile {
  background: #f2f2f2;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.nav-menu-mobile a,
span {
  text-decoration: none;
  color: #262626;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin: 1px;
}

.nav-menu-mobile .fa-chevron-down,
.fa-chevron-up {
  font-size: 12px;
}

.nav-menu-mobile {
  display: flex;
  flex-direction: column;
}

.nav-menu-mobile > div {
  padding: 16px 13px;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;
}

.nav-menu-mobile > div:last-child {
  border-bottom: 1px solid #000;
}

.nav-menu-mobile > div > a:last-child {
  text-transform: capitalize;
}

.nav-menu-mobile .dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-menu-mobile .dropdown-content-default-hidden,
.dropdown-content {
  display: none;
}

.nav-menu-mobile .dropdown-content-default-hidden {
  padding: 0 !important;
}

.nav-menu-mobile .dropdown-content-flex {
  display: flex;
  flex-direction: column;
}

.nav-menu-mobile .dropdown-content-flex > a {
  margin-left: 30px;
  padding: 16px 13px;
  border-bottom: 1px solid #e6e6e6;
}

.nav-menu-mobile .dropdown-content-flex > a:last-child {
  margin-left: 30px;
  padding: 16px 13px;
  border-bottom: none;
}

/* Covid info Section */
.covid-info {
  padding: 12px 36px;
  background-color: #0067b8;
  text-align: center;
  display: block;
}

.covid-info:hover {
  text-decoration: underline;
  cursor: pointer;
  outline: 1px dashed #000;
  color: #fff;
  padding: 11px 35px;
  margin: 1px;
}

.covid-info a {
  color: #fff;
  font-size: 13px;
}

.covid-info a > .fa-chevron-right {
  font-size: 12px;
  margin-left: 5px;
  margin-top: 0;
  color: #fff !important;
  transition: all 200ms ease-in-out;
}

/* Showcase Section */
.showcase-container {
  cursor: pointer;
}

.showcase-container,
.showcase-container > img {
  width: 100%;
  height: auto;
}

.second-section {
  background: #333;
  padding: 60px 50px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  position: relative;
  height: 19vh;
  cursor: pointer;
}

.second-section h1 {
  font-size: 20px;
}

.second-section > div {
  padding: 8px 20px;
  padding-top: 0;
  margin-top: 10px;
  background: #fff;
  position: absolute;
  display: block;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
}

.second-section > div {
  background: #fff;
}

.second-section > div:hover {
  background: #e6e6e6;
}

.second-section > div > a {
  color: var(--primary);
  transition: all 20ms ease-in-out;
}

.second-section > div > a:hover {
  border-bottom: 2px solid #000;
  color: var(--primary);
}

.second-section > div > i {
  font-size: 12px;
  margin-left: 5px;
  color: var(--primary);
}

.second-section > div > i:hover {
  font-size: 12px;
}

/* Card Section */
.card-section {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 0;
}

.card-section .cards {
  width: 100%;
  height: auto;
}

.card-section > div {
  margin-bottom: 60px;
}

.card-section > div > h1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0;
  padding-bottom: 8px;
}

.container .card-2-h1 {
  font-size: 23px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 0;
  padding: 40px 20px 0;
}

.card-section div .chevron-link .fa-chevron-right {
  color: var(--secondary) !important;
}

.card-section .chevron-link .chevron-a,
i {
  color: var(--secondary);
  margin-top: 17px;
}

.card-section .chevron-link .chevron-a:hover {
  border-bottom: 2px solid var(--secondary);
}

.card-section .chevron-link .chevron-i {
  font-size: 12px;
  margin-left: 5px;
}

.card-section .cards .card-1 {
  width: 100%;
  height: auto;
}

.card-section .cards .card-2 {
  width: 100%;
  height: auto;
}

.card-section .cards .card-3 {
  width: 100%;
  height: auto;
}

.card-section .cards .card-4 {
  width: 100%;
  height: auto;
}

.card-section .cards .card-5 {
  width: 100%;
  height: auto;
}

.card-section .cards .card-6 {
  width: 100%;
  height: auto;
}

.card-section .cards .card-7 {
  width: 100%;
  height: auto;
}

.card-section .cards .card-8 {
  width: 100%;
  height: auto;
}

.card-section .cards .card-1:hover,
.card-section .cards .card-2:hover,
.card-section .cards .card-3:hover,
.card-section .cards .card-4:hover,
.card-section .cards .card-5:hover,
.card-section .cards .card-6:hover,
.card-section .cards .card-7:hover,
.card-section .cards .card-8:hover {
  opacity: 0.9;
}

.card-section > div:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* Showcase-2 Section */
.showcase-2-container {
  cursor: pointer;
}

.showcase-2-container,
.showcase-2-container > img {
  width: 100%;
  height: auto;
}

/* 4th Section */
.fourth-section {
  background: #e6e6e6;
  padding: 60px 40px;
  text-align: center;
  color: var(--primary);
  font-size: 15px;
  position: relative;
  height: 18.5vh;
  cursor: pointer;
}

.fourth-section h1 {
  font-size: 20px;
  font-weight: 500;
}

.fourth-section > div {
  padding: 8px 20px;
  padding-top: 0;
  margin-top: 15px;
  background: var(--primary);
  position: absolute;
  display: block;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
}

.fourth-section > div:hover {
  background: #1a1a1a;
}

.fourth-section > div > a {
  color: #fff;
  transition: all 20ms ease-in-out;
  font-weight: 600;
}

.fourth-section > div > a:hover {
  border-bottom: 2px solid #fff;
  color: #fff;
}

.fourth-section > div > .fa-chevron-right {
  font-size: 12px;
  margin-left: 5px;
  color: #fff !important;
}

.fourth-section > div > i:hover {
  font-size: 12px;
}

/* Showcases Hidden by default */

.showcase-container-hidden,
.second-section-hidden,
.showcase-2-container-hidden,
.fourth-section-hidden {
  display: none;
}

/* Social Medias */
.social-medias {
  padding: 0 20px 30px;
  position: relative;
}

.social-medias p {
  display: inline-block;
  color: rgba(0, 0, 0, 0.6);
}

.social-medias object {
  width: 32px;
  height: 32px;
  position: absolute;
}

.social-medias .fb-icon {
  left: 140px;
  bottom: 20px;
  cursor: pointer;
}

.social-medias .twitter-icon {
  left: 190px;
  bottom: 20px;
  cursor: pointer;
}

.social-medias .fb-icon:hover,
.social-medias .fb-icon:focus,
.social-medias .twitter-icon:hover,
.social-medias .twitter-icon:focus {
  filter: grayscale(40%);
}

/* Footer section */
footer {
  background: #f2f2f2;
  padding: 30px 20px;
  color: #616161;
}

footer div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

footer div h1 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 12px;
}

footer a {
  margin-bottom: 14px;
  font-size: 11px;
  color: #616161;
}

footer a:hover {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: underline;
}

footer section .globe-country {
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer section .globe-country .globe {
  margin-top: 0;
  margin-right: 10px;
}

footer section div .country-btn {
  display: inline-block;
  margin-bottom: 0;
}

footer section div .country-btn:hover {
  color: #616161;
}

footer section .contact-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

footer section .contact-section a {
  margin-right: 15px;
}

footer section .contact-section p {
  font-size: 11px;
}

@media only screen and (min-width: 353px) {
  .card-section .chevron-link {
    display: inline-block;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 540px) {
  .container {
    padding: 10px 0 0;
  }

  .nav-flex .logo {
    width: 20%;
    flex-grow: 2;
  }

  .nav-flex .burger-menu,
  .nav-flex .cart-btn {
    margin-right: 30px;
  }

  .nav-flex .burger-menu {
    margin-left: 15px;
  }

  .nav-flex .user-btn {
    margin-right: 15px;
  }

  .second-section {
    padding: 100px 50px 30px;
  }

  .second-section > h1,
  p {
    margin-bottom: 7px;
  }

  .card-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
  }

  .fourth-section {
    padding: 88px 40px 40px;
  }

  .fourth-section > h1 {
    margin-bottom: 7px;
  }

  .fourth-section > p {
    margin-bottom: 1px;
  }

  .card-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
  }

  .card-section > div > h1 {
  }

  .social-medias {
    padding: 0 20px 60px;
  }

  .social-medias object {
    width: 28px;
    height: 28px;
  }

  .social-medias .fb-icon,
  .social-medias .twitter-icon {
    bottom: 60px;
  }

  .social-medias .twitter-icon {
    left: 185px;
  }

  footer .footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  footer a {
    margin-bottom: 20px;
  }

  footer .globe-country {
    margin-bottom: 35px;
  }

  footer > section > .contact-section {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 636px) {
  .card-section .chevron-link {
    display: block;
  }
}

@media only screen and (min-width: 712px) {
  .card-section .chevron-link {
    display: inline-block;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 10px 0 0;
  }

  .second-section {
    background: transparent;
    padding: 60px 50px;
    position: absolute;
    height: 19vh;
    bottom: 400px;
    left: 22%;
    width: 45%;
  }

  .showcase-container-hidden,
  .showcase-2-container-hidden {
    cursor: pointer;
  }

  .card-section {
    padding: 50px 38px 0;
  }

  .card-section .cards {
    margin-bottom: 40px;
  }

  .container .card-2-h1 {
    padding: 40px 38px 0;
  }

  .showcase-container,
  .showcase-2-container {
    display: none;
  }

  .second-section,
  .fourth-section {
    display: none;
  }

  .showcase-container-hidden,
  .showcase-2-container-hidden {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .showcase-container-hidden .second-section-hidden {
    display: block;
    background: transparent;
    color: #fff;
    padding: 60px 50px;
    height: 19vh;
    width: 46%;
    text-align: center;
    top: 30%;
    left: 20%;
    position: absolute;
  }

  .showcase-2-container-hidden .fourth-section-hidden {
    display: block;
    background: transparent;
    padding: 60px 50px;
    height: 19vh;
    width: 45%;
    text-align: left;
    top: 18%;
    position: absolute;
  }

  .showcase-2-container-hidden .fourth-section-hidden > h1 {
    font-size: 24px;
    font-weight: 400;
  }

  .showcase-container-hidden .second-section-hidden > div {
    padding: 8px 20px;
    padding-top: 8px;
    padding-top: 0;
    margin-top: 10px;
    background: #fff;
    position: absolute;
    display: block;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
  }

  .showcase-container-hidden .second-section-hidden > div:hover {
    background: #e6e6e6;
  }

  .showcase-container-hidden .second-section-hidden > div > a {
    color: var(--primary);
    transition: all 20ms ease-in-out;
  }

  .showcase-container-hidden .second-section-hidden > div > a:hover {
    border-bottom: 2px solid #000;
    color: var(--primary);
  }

  .showcase-container-hidden .second-section-hidden > div > .fa-chevron-right {
    font-size: 12px;
    margin-left: 5px;
    /* color: #fff !important; */
  }

  .showcase-2-container-hidden .fourth-section-hidden > div {
    left: 120px;
    background: var(--primary);
    display: inline-block;
    padding: 0 20px 10px;
  }

  .showcase-2-container-hidden .fourth-section-hidden > div:hover {
    background: #1a1a1a;
  }

  .showcase-2-container-hidden .fourth-section-hidden > p {
    margin-bottom: 24px;
  }

  .showcase-2-container-hidden .fourth-section-hidden > div > a {
    color: #fff;
    transition: all 20ms ease-in-out;
    font-weight: 600;
  }

  .showcase-2-container-hidden .fourth-section-hidden > div > a:hover {
    border-bottom: 2px solid #fff;
    color: #fff;
  }

  .showcase-2-container-hidden
    .fourth-section-hidden
    > div
    > .fa-chevron-right {
    font-size: 12px;
    margin-left: 5px;
    color: #fff !important;
  }

  .showcase-2-container-hidden .fourth-section-hidden > div > i:hover {
    font-size: 12px;
  }
}

/* With hidden nav-menu content adjustment checkpoint */
@media only screen and (min-width: 860px) {
  .container {
    padding: 10px 0 0;
  }
  .nav-flex {
    display: none;
  }

  .nav-flex-2 {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5px 10px;
  }

  .nav-flex-2 .logo {
    width: 130px;
    margin-right: 20px;
  }

  .nav-flex-2 .nav-menu-list {
    flex-grow: 2;
  }

  .nav-flex-2 .nav-menu-list a {
    font-size: 13px;
    color: #262626;
    margin: 16px 8px 10px;
    padding-bottom: 3px;
    transition: all 20ms ease-in-out;
  }

  .nav-flex-2 .nav-menu-list > a:hover {
    border-bottom: 2px solid #000;
    margin: 14px 6px 8px;
  }

  .nav-flex-2 .dropdown,
  .nav-flex-2 .search-btn,
  .nav-flex-2 .cart-btn,
  .nav-flex-2 .user-btn {
    /* text-align: right; */
    margin-right: 30px;
  }

  .nav-flex-2 .user-btn {
    margin-right: 10px;
  }

  .nav-flex-2 .search-btn,
  .nav-flex-2 .cart-btn,
  .nav-flex-2 .user-btn {
    margin-top: 0;
  }

  .nav-flex-2 .fa-search,
  .nav-flex-2 .fa-shopping-cart,
  .nav-flex-2 .fa-lg {
    margin-top: 0;
  }

  .nav-flex-2 .dropdown > .fa-chevron-down {
    font-size: 12px;
    margin-left: 3px;
    margin-top: 0;
  }

  .nav-flex-2 .dropdown > span:hover {
    border-bottom: 2px solid #000;
  }

  .show {
    display: block;
  }

  .nav-flex-2 .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background: #f2f2f2;
    min-width: 800px;
    z-index: 1;
    left: auto;
    top: 55px;
    right: 20px;
    width: 95%;
  }

  .nav-flex-2 .dropdown .dropdown-content .grid-dropdown {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 10px;
  }

  .nav-flex-2 .dropdown .dropdown-content .grid-dropdown > div {
    display: flex;
    flex-direction: column;
  }

  .nav-flex-2 .dropdown .dropdown-content .grid-dropdown h1 {
    font-size: 13px;
    font-weight: 600;
    color: #262626;
    padding: 18px 30px 18px 24px;
    margin: 0;
  }

  .nav-flex-2 .dropdown .dropdown-content .grid-dropdown a {
    font-size: 13px;
    color: #262626;
    padding: 12px 0 12px 24px;
  }

  .nav-flex-2 .dropdown .dropdown-content .sitemap {
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px solid #000;
    background: #e6e6e6;
  }

  .nav-flex-2 .dropdown .dropdown-content .sitemap > a {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    font-size: 13px;
  }

  .nav-flex-2 .dropdown .dropdown-content .sitemap > a:hover {
    text-decoration: underline;
  }

  .nav-flex-2 .dropdown .dropdown-content .sitemap > i {
    font-size: 12px;
    margin-left: 3px;
    margin-top: 0;
    color: rgba(0, 0, 0, 0.8);
  }

  .showcase-container-hidden .second-section-hidden {
    top: 35%;
  }

  footer {
    padding-bottom: 0;
  }

  footer section {
    display: flex;
    flex-direction: row;
  }

  footer section .globe-country,
  footer section .contact-section {
    display: inline-block;
  }

  footer section .contact-section,
  p {
    margin-left: auto;
  }

  footer section .contact-section > a,
  p {
    margin-right: 20px;
  }

  footer section .contact-section > p {
    display: inline-block;
  }
}

/* With hidden nav-menu content adjustment checkpoint */
@media only screen and (min-width: 1084px) {
  .container > div {
    margin: 0 4.5em;
  }

  .nav-flex-2 .dropdown .dropdown-content {
    left: auto;
    right: 30px;
    width: 94%;
  }

  .card-section {
    grid-template-columns: repeat(4, 1fr);
    padding: 50px 0 0;
  }

  .showcase-container-hidden .second-section-hidden {
    top: 30%;
    left: 22%;
  }

  .container .card-2-h1 {
    padding: 40px 0 0;
  }

  footer {
    padding-left: 4.5em;
    padding-right: 4.5em;
  }

  footer .footer-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1230px) {
  .nav-flex-2 .dropdown .dropdown-content .grid-dropdown {
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 1335px) {
  .card-section .chevron-link {
    display: block;
  }
}

@media only screen and (min-width: 1400px) {
  .container > div {
    margin: 0 4.9em;
  }

  .nav-flex-2 .search-btn::before {
    content: "Search ";
  }

  .nav-flex-2 .cart-btn::before {
    content: "Cart ";
  }

  .nav-flex-2 .user-btn::before {
    content: "Sign in ";
  }

  .showcase-container-hidden .second-section-hidden {
    top: 22%;
    left: 23%;
  }

  .showcase-container-hidden .second-section-hidden h1 {
    font-size: 46px;
  }

  .showcase-container-hidden .second-section-hidden > h1,
  p {
    margin-bottom: 13px;
  }

  .showcase-2-container-hidden .fourth-section-hidden {
    padding-left: 100px;
  }

  .showcase-2-container-hidden .fourth-section-hidden > h1 {
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1433px) {
  .card-section .chevron-link {
    display: inline-block;
    margin-right: 20px;
  }
}

/* With hidden nav-menu content adjustment checkpoint */
@media only screen and (min-width: 1500px) {
  .container > div {
    margin: 0 5.2em;
  }

  .nav-flex-2 .dropdown .dropdown-content {
    left: auto;
    right: 30px;
    width: 80%;
  }
}

@media only screen and (min-width: 1600px) {
  .container > div {
    margin: 0 5.5em;
  }
}

/* With hidden nav-menu content adjustment checkpoint */
@media only screen and (min-width: 1650px) {
  .container > div {
    margin: 0 9em;
  }

  .nav-flex-2 .dropdown .dropdown-content {
    left: auto;
    right: 165px;
    width: 64%;
  }

  .showcase-container-hidden .second-section-hidden {
    top: 33%;
    left: 22%;
    width: 49%;
  }
  .showcase-container-hidden .second-section-hidden h1 {
    font-size: 46px;
  }

  .showcase-container-hidden .second-section-hidden > h1,
  p {
    margin-bottom: 13px;
  }

  .showcase-2-container-hidden .fourth-section-hidden > h1 {
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  footer {
    padding-left: 9em;
    padding-right: 9em;
  }

  footer .footer-grid {
    margin-right: 2em;
    margin-bottom: 0;
  }
}
